<style>
  code {
    background-color: rgba(27, 31, 35, 0.05);
    color: rgb(36, 41, 46);
    padding: .2em .4em;
    margin: 0;
    border-radius: 6px;
    font-family: ui-monospace,SFMono-Regular,SF Mono,Consolas,Liberation Mono,Menlo,monospace;
    font-size: 85%;
  }
  em {
    font-family: ui-monospace,SFMono-Regular,SF Mono,Consolas,Liberation Mono,Menlo,monospace;
    font-size: 85%;
  }
  table {
    border-spacing: 0;
    border-collapse: collapse;
    padding: 5px;
  }

  table, th, td {
    border: 1px solid gainsboro;
    padding: 5px;
  }
  tr > td:first-child {
    font-weight: bold;
    text-align: center;
  }
</style>
<table>
  <thead>
  <tr>
    <th>Error code</th>
    <th>Description</th>
  </tr>
  </thead>
  <tbody>
  <tr>
    <td>E0</td>
    <td>
      <em>GrispiClient is already defined. Existing version: '${existingVersion}' and this version: '${currentVersion}'.</em>
      <p>There is already a <code>GrispiClient</code> variable in the page (window). <code>grispi-plugin.js</code> may be loaded more than once.</p>
    </td>
  </tr>
  <tr>
    <td>E1</td>
    <td>
      <em>Origin is empty!</em>
      <p>The iFrame must be opened with '#origin=XXX' hash. This hash is added to the iFrame's src by Grispi.</p>
    </td>
  </tr>
  <tr>
    <td>E2</td>
    <td>
      <em>The constructor is private, please use instance() method.</em>
      <p><code>GrispiClient</code> is a singleton, use <code>GrispiClient.instance()</code> to get the instance.</p>
    </td>
  </tr>
  <tr>
    <td>E3</td>
    <td>
      <em>Origins does not match. Expected '${expectedOrigin}' but found '${realOrigin}'!</em>
      <p>The message is not targeted to this page. This error is not expected to be seen in modern browsers because they block unrelated messages themselves.</p>
    </td>
  </tr>
  <tr>
    <td>E4</td>
    <td>
      <em>Event data (event.data) is missing.</em>
      <p>Grispi requires all events to contain <code>data</code> (at least <code>data.type</code>)</p>
    </td>
  </tr>
  <tr>
    <td>E5</td>
    <td>
      <em>Event data type (event.data.type) is missing.</em>
      <p>Grispi requires all events to contain <code>data</code> and <code>data.type</code>.</p>
    </td>
  </tr>
  <tr>
    <td>E6</td>
    <td>
      <em>GrispiClient is not defined. Call Plugin Library should be added to the page after GrispiClient is defined.</em>
      <p><code>GrispiClient</code> is not defined. Call Plugin Library should be added to the page after <code>GrispiClient</code> is defined.</p>
    </td>
  </tr>
  <tr>
    <td>E7</td>
    <td>
      <em><code>GrispiCallClient</code> is already defined. Existing version: '${existingVersion}' and this version: '${currentVersion}'</em>
      <p>You have added the <code>grispi-call-plugin.js</code> file more than once.</p>
    </td>
  </tr>
  <tr>
    <td>E8</td>
    <td>
      <em>Following methods are not not implemented.\n${missingMethods}\nImplement them via '<code>GrispiClient.prototype.call.&lt;methodName&gt; = aFunction</code>'</em>
      <p>You need to implement client's required methods.</p>
    </td>
  </tr>
  <tr>
    <td>E9</td>
    <td>
      <em>pluginId is empty!</em>
      <p>The iFrame must be opened with '#pluginId=XXX' hash. This hash is added to the iFrame's src by Grispi.</p>
    </td>
  </tr>
  <tr>
    <td>E10</td>
    <td>
      <em>iframeAuth is empty!</em>
      <p>The iFrame must be opened with '#iframeAuth=XXX' hash. This hash is added to the iFrame's src by Grispi.</p>
    </td>
  </tr>
  <!--
  <tr>
    <td>EX</td>
    <td>
      <em></em>
      <p></p>
    </td>
  </tr>
  -->
  </tbody>
</table>
